
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @listing.content %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>

<div class="row">
	<div class="col-md-12">
		<h3><%= @listing.title %></h3>
		<div class="thumbnail">
	<%= image_tag @listing.image.url %>
</div>
 <p><%= @listing.content %></p>
	</div>
	
		
	
		
		
	
</div>